* {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-repeat: no-repeat;
    align-content: center;
    margin: 0 auto;
    background-color: #111111;
}

html {
    scroll-behavior: smooth;
}


/* -----------------------INICIO NAVBAR--------------------- */

nav {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    width: 100%;
    height: 10vh;
    background-color: #111111;
}

nav a {
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.1s;
    height: 50px;
}

nav>ul {
    display: flex;
    list-style: none;
    margin-left: 10px;
}

nav>ul>a>li {
    border-radius: 5px;
    padding: 10px;
    transition: 0.4s;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
}

nav>ul>a:hover {
    cursor: pointer;
    border-radius: 5px;
    background-color: #F5F5F5;
    color: black;
    /* color: #111111; */
    /* transform: rotate(-6deg) skewY(3deg) scaleX(.866025); */
}

nav>ul>a:active {
    transform: scale(1.1);
}


/* -----------------------FIN NAVBAR--------------------- */

.inicio {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 90vh;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url(/src/img/patagonia.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    align-items: center;
    justify-content: center;
}

.argentina {
    font-size: 3.5rem;
    font-weight: 400;
    font-size: 3.5rem;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.explorar {
    display: none;
}


/* -----------------------VER MAS--------------------- */

#footer-main {
    width: 100%;
    height: 10vh;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-main a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    transition: 0.2s;
}

#footer-main a:hover {
    font-size: 1.7rem;
}


/* -----------------------ACERCA DE--------------------- */

.about {
    /* font-size: 1.5rem; */
    color: white;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about h1 {
    font-size: 3.5rem;
}

.about h2 {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
}


/* -----------------------DESTINOS--------------------- */

.destinos {
    display: grid;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    color: white;
    height: auto;
}

.card {
    overflow: hidden;
    text-align: center;
    border-radius: 4px;
    margin: 1rem;
    border-radius: 0.3rem;
    background: #fff;
    color: #000;
    transition: .2s;
    height: 100%;
}

.card:hover {
    box-shadow: 1px 1px 10px 5px rgba(255, 255, 255, 0.5);
}

.card_img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

a {
    text-decoration: none;
}

.card h2 {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
}

.card h4 {
    padding-left: 1rem;
    padding-right: 1rem;
}


/* -----------------------CONTACTO--------------------- */

.iconos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.contactanos h2 {
    font-size: 2rem;
    color: white;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.icon-button {
    background-color: #111111;
    border-radius: 3.6rem;
    cursor: pointer;
    display: inline-block;
    font-size: 2.0rem;
    height: 3.6rem;
    line-height: 3.6rem;
    margin: 0 5px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 3.6rem;
}

.icon-button:nth-child(2) {
    margin-right: 2rem;
    margin-left: 2rem;
}

.icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
}

.icon-button:hover span {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 3.6rem;
    margin: -1.8rem;
}

.icon-button i {
    background: none;
    color: white;
    height: 3.6rem;
    left: 0;
    line-height: 3.6rem;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 3.6rem;
    z-index: 10;
}

.icon-button .icon-facebook {
    color: #3B5998;
}

.icon-button:hover .icon-facebook {
    color: white;
}

.facebook span {
    background-color: #3B5998;
}

.instagram span {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.email span {
    background: #EB2222;
}


/* -----------------------RESPONSIVE--------------------- */

@media (max-width: 1000px) {
    nav>ul {
        display: block;
    }
    nav>ul>li:hover {
        transform: rotate(0);
    }
}


/* -----------------------FIN RESPONSIVE--------------------- */